<%- include('../admin/sidebar.ejs') %> 

<br>
<br>
<br>
<br>
    <section class="admin-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="admin-name text-center" style="text-transform: capitalize;" ><strong style="color: blueviolet;"><%= n %></strong> Dashboard</h1>
                </div>
                <hr class="admin-hr">
                
                    <div class="col-12">
                        <div class="admin-image d-flex justify-content-center">
                            <img src="/assets/images/rr.png">   
                        </div> 
                    </div>
                
                <div class="col-12">
                    <div class="admin-details">
                        <h2 class="admin text-center" style="text-transform: capitalize; color: darkmagenta;">Welcome <%= n %></h2>
                        <p class="admin-email text-center" style="color: darkmagenta;"><%= e %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

