<!-- Footer -->
<footer class="first-footer text-center text-lg-start bg-light text-muted">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
       
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div class="d-inline-flex">
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="footer-section">
        <div class="container middle-footer text-center text-md-start mt-5">
           
            <div class="row mt-3">
             
                <div class="col-md-3 col-lg-4 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>ITM University Admission Portal
                    </h6>
                    <p>At ITM University Gwalior you get an opportunity to link your studies to your career plan and personal goals by using combination of compulsory credits, optional credits, self-learning credits, MOOC, non-cgpa credits for curricular and extra-curricular activities.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Featured Courses</h6>
                    <p><a href="#" class="text-reset">MongoDB</a></p>
                    <p><a href="#" class="text-reset">Express js</a></p>
                    <p><a href="#" class="text-reset">React</a></p>
                    <p><a href="#" class="text-reset">Node js</a></p>
                </div>
                
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"> Qucik links</h6>
                    <p><a href="#!" class="text-reset">About us</a></p>
                    <p><a href="#!" class="text-reset">Term of use</a></p>
                    <p><a href="#!" class="text-reset">FAQ</a></p>
                    <p><a href="#!" class="text-reset">Support</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                        <i class="fas fa-home me-3"></i>
                        NH-44, BypassTurari, Jhansi Road 
                        Gwl (M.P.) 475001,(INDIA)
                    </p>
                    <p> 
                        <i class="footer-email-icon fas fa-envelope me-3"></i>
                        admission@itmuniversity.ac.in
                    </p>
                    <p>
                        <i class="fas fa-phone me-3"></i> 07773005063
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">ITM University Gwalior</a>
        <p class="mb-2 mt-1"><a class="text-reset fw-bold" href="">Privacy Policy</a></p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>	