@media(max-width: 1300px) {

    /* register details css start */
    .registerationdetail-table {
        font-size: 1em;
    }
    /* register details css end */

    /* view course details css start */
    .admin-course-button button{
        left: 26rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 1199.5px) and (min-width: 1049px) {
    /* register details css start */
    .registerationdetail-table {
        width: 300vh;
    }
    /* register details css end */

    /* view course details css start */
    .admin-course-button button{
        left: 20rem;
    }
    /* view course details css end */
}


@media screen and (max-width: 1049.5px) and (min-width: 1025px){
    /* register details css start */
    .registerationdetail-table {
        width: 300vh;
    } 
    /* register details css end */

    /* view course details css start */
    .admin-course-button button{
        left: 21rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 1025.5px) and (min-width: 1000px){
    /* register details css start */
    .registerationdetail-table {
        width: 300vh;
    } 
    /* register details css end */

    /* view course details css start */
    .admin-course-button button{
        left: 21rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 1000.5px) and (min-width: 992px){
    .registerationdetail-table {
        width: 300vh;
    }
    
    /* view course details css start */
    .admin-course-button button{
        left: 21rem;
    }
    /* view course details css end */
    
    
}

@media screen and (max-width: 991.5px) and (min-width: 900px) {
    .registerationdetail-table {
        width: 300vh;
    }
    /* view course details css start */
    .admin-course-button button{
        left: 13rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 899.5px) and (min-width: 800px) {
    .registerationdetail-table {
        width: 303vh;
    }

    /* view course details css start */
    .admin-course-button button{
        left: 13rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 799.5px) and (min-width: 768px) {
    .registerationdetail-table {
        width: 303vh;
    }

    /* view course details css start */
    .admin-course-button button{
        left: 13rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 767.5px) and (min-width: 700px) {
    .registerationdetail-table{
        width: 303vh;
    } 
    /* view course details css start */
    .admin-course-button button{
        left: 7rem;
    }
    /* view course details css end */  
}

@media screen and (max-width: 699.5px) and (min-width: 640px) {
    .registerationdetail-table{
        width: 303vh;
    } 
    /* view course details css start */
    .admin-course-button button{
        left: 7rem;
    }
    /* view course details css end */
}

@media screen and (max-width: 639.5px) and (min-width: 600px) {
    .registerationdetail-table{
        width: 303vh;
    } 
    /* view course details css start */
    .admin-course-button button{
        left: 7rem;
    }
    /* view course details css end */  
}

@media screen and (max-width: 599.5px) and (min-width: 576px) {
    .registerationdetail-table{
        width: 303vh;
    } 
    /* view course details css start */
    .admin-course-button button{
        left: 7rem;
    }
    /* view course details css end */  
}

@media screen and (max-width: 575.5px) and (min-width: 539px) {
    .registerationdetail-table{
        width: 303vh;
    } 
    /* view course details css start */
    .admin-course-button button{
        left: 8rem;
    }
    /* view course details css end */  

    /* yha uper ki trf krna h userdetails (register userss) ki table responsive */
}

@media screen and (max-width: 538.5px) and (min-width: 500px) {
    .registerationdetail-table{
        width: 303vh;
    } 
    /* view course details css start */
    .admin-course-button button{
        left: 8rem;
    }
    /* view course details css end */  

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 499.5px) and (min-width: 480px) {
    .registerationdetail-table{
        width: 303vh;
    } 

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* view course details css start */
    .admin-course-button button{
        left: 8rem;
    }
    /* view course details css end */

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 479.5px) and (min-width: 460px) {
    .registerationdetail-table{
        width: 303vh;
    }
    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    }
    
    /* view course details css start */
    .admin-course-button button{
        left: 6rem;
    }
    /* view course details css end */

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 459.5px) and (min-width: 429px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 428.5px) and (min-width: 420px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 419.5px) and (min-width: 400px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 399.5px) and (min-width: 375px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 374.5px) and (min-width: 359px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 358.5px) and (min-width: 339px){
    .registerationdetail-table{
        width: 303vh;
    } 

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 338.5px) and (min-width: 319px){
    .registerationdetail-table{
        width: 303vh;
    } 
    
    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
     .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 318.5px) and (min-width: 299px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}

@media screen and (max-width: 298.5px) and (min-width: 275px){
    .registerationdetail-table{
        width: 303vh;
    }

    /* admin dashboard css start */
    .admin-image img{
        width: 100%;
    } 

    /* register users (userdetails) css start*/
    .Usersdetail-table {
        margin: 0 0;
    }
    /* register users (userdetails) css end*/
}
